<h4>BookShelf Name: 
<%= shelf.name %>
</h4>
<%= link_to "Edit BookShelf", edit_shelf_path(shelf) %> | 
<%= link_to "Delete BookShelf", shelf, data: {confirm: "Are you sure you want to delete this BookShelf?"}, :method => :delete %>
</br>
</br>
<!-- 
<a data-toggle="modal" data-target="#myModal" data-remote="<%= edit_shelf_path(shelf) %> #modal-edit-fields" class="btn btn-mini">Edit Shelf(MODAL)</a>

<div id="myModal" class="reveal-modal" data-reveal>
	<div id="modal-edit-fields">
	<%= render partial: 'edit_shelf_fields' %>
	</div>
</div> -->

<% if shelf.books.any? %>
	<h3>Books: </h3>
	<%= render shelf.books, locals: {shelf: Shelf.new} %>
	<% end %>

</br>
</br>

<a href="#" data-reveal-id="myModal2" class="button">Add a book: </a>
<div id="myModal2" class="reveal-modal" data-reveal>
	<%= render partial: '/books/form', locals: {shelf: shelf, book: Book.new} %>
</div>


