<div class="row">
  <div class="wrapperShelf">
    <!-- <div class="user" data-id="<%=current_user.id%>"></div> -->

    <div class="UserInfo clearfix row">
      <h2>Hey, <%=current_user.first_name.capitalize %></h2>
      <h4>welcome to your bookshelf</h4>
      
      <div class="notifications right">
        <%= render 'books/notifications'%>
      </div>

      
        <div class="large-4 columns right searchbox">
          <%= form_tag shelves_path, method: :get, remote: true, authentication: false, id: 'search-form' do %>
              <div class="row collapse">
                  <div class="small-9 columns field">
                      <%= text_field_tag :search, params[:search] %>
                  </div>
                  <div class="small-3 columns">
                     <%= submit_tag "Search", class: 'button postfix small' %>
                   </div>
              </div>
          <% end %>
        </div>
    </div>
    

    <div class="shelf-list clearfix">
      <%= render @shelves if @shelves %>
    </div>
  
    </br>
    <p id="errors"></p>
    </br>
  
    <div class='clearfix'>
      </br>
      </br>
    </div>

    <div class='row newshelf'>
      <%= form_for Shelf.new, :remote => true do |f| %>
        <div class="large-12 columns">
          <div class="row collapse">
              <div class="small-10 columns field">
                  <%= f.text_field :name, :placeholder => "Shelf Name" %>
              </div>
              <div class="actions saveShelf small-2 columns">
                 <%= f.submit :submit, value: "Add shelf", class: 'button postfix closeModalSubmit small' %>
               </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="backToBookShelf" hidden>
    <%= link_to "Return to my BookShelf", :mybookshelf %>
    </div>
  </div>
</div>


