<h1>Get Started!</h1>

<% @shelves.each do |shelf| %>
	<div class="shelfStart" id="<%= shelf.id %>">
	<h4><%= shelf.name %> BookShelf</h4>
</br>

				<% if shelf.books.any? %>
					
					<div class="owl-carousel">
						<% shelf.books.each do |book| %>
								<div class= "bookInfo item start">
										<%= link_to book.name.upcase, "http://"+book.link, :target => "_blank" %> </br>
										<%= book.read %></br>
								</div>
						<% end %>												
					</div>
						</br>
				<% end %>
	
	</div>
<% end %>
</br>
<button id="userShelves">
	Save and Move to your very own BookShelf
</button>

<!--
# <%= form_tag '/shelves/add_demo_shelves' do %>
# 	<%= hidden_field_tag :shelf_ids %>
# 	<%= submit_tag "Save and Move to your very own BookShelf" %>
# <% end %>
-->