<div class="wrapper">
<div class="homepage row">
<h3><span>bookshelf</span> helps you stay organized with pages you visit the most or want to save for later.<h3>
	<h4>Create shelves to categorize your links with notes and store them. Search through your books for quick access to your saved links!</h4>


<h5>GET STARTED and <span class="small">register!</span></h5>
<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h3>
			  Whoops!
			  <%= pluralize(@user.errors.count, "error")%>
			  prohibited you from creating an account:
			</h3>
			<ul>
			  <% @user.errors.full_messages.each do |message|%>
			  <li><%= message %></li>
			  <% end %>
			</ul>
		</div>
    <% end %>
	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "SIGN ME UP!", class: "button"%>
	</div>
<% end %>

</div>
</div>