
<div id="book-<%= book.id %> book" class="item" data-id="<%= book.id %>">
	<!-- group of stuff in book end -->
	<div class="cardFor-<%= book.id %> card"> 
			<!-- Front of the book -->
			<div class="front"> 
				<div class="bookInfo">
					<p class="hiddenLink" hidden><%=book.link%></p>
					
					<p class="bookName"><%=book.name.upcase%></br> 	<img src="http://www.google.com/s2/favicons?domain_url=<%=book.link%>" alt="Icon"></p>
				
					</br><span class="read"><%= book.read %></span></br>
					
					<!-- Edit form  -->
					<div id="book_<%= book.id %>" class="reveal-modal" data-reveal>
						<div id="modal-edit-book-fields">
							<% shelf = book.shelf %>
							<h3>Edit Book</h3>
							<%= form_for([shelf, book], :remote => true) do |f| %>
									<div class="field">
										<%= f.label :name %>
										<%= f.text_field :name %>
									</div>
									<div class="field">
										<%= f.label :link %>
										<%= f.text_field :link %>
									</div>
									<div class="field">
										<%= f.label :note %>
										<%= f.text_area :note %>
									</div>
									<div class="description">
										<%= f.label :read, "Already looked at this page?" %>
										<%= f.radio_button :read, 'Unread' %> Unread
										<%= f.radio_button :read, 'Revisit', :checked => true %> Revisit Later </br>
									</div>
									
									<p class="bookErrors"></p>

									<div class="actions">
										<%= f.submit :submit, value: "Save", class: 'button closeModalSubmit tiny' %>
									</div>
							<% end %>
							<a class="close-reveal-modal">&#215;</a>	
						</div>
					</div>
					<!-- Edit form end  -->

				</div>
			</div>
			<!-- Front of the book -->


			<!-- Back of the Book  -->
			<div class="back">
				<% if book.note != "" %>
			    <%= book.note %>
			    <% else %>
			    Looks like you don't have any notes for this book!
			    <% end %>
			</div> 
			<!-- Back of the Book End -->

	</div>
	<!-- group of stuff in book end -->

	<div id="bookOptions">
		<a href="#" data-reveal-id="book_<%= book.id %>" class="btn btn-mini"><%= image_tag ("editIcon.png")%></a>  
		<%= link_to image_tag("deleteIcon.png"), shelf_book_path(book.shelf_id, book), data: {confirm: "Are you sure you want to delete this book?"}, :method => :delete, :remote => true, :class => "delete_book" %>
		 <span class="detailsLink"><%= image_tag ("detailsIcon.png")%></span>
	</div>

</div>