<div id="book-<%= book.id %> book" class="item">
	
	<div class="cardFor-<%= book.id %> card"> 
		
		<div class="front"> 
			<div class="bookInfo">
				<%= link_to book.name.upcase, "http://"+book.link, :target => "_blank" %> </br>
				<%= book.read %></br>
				
				<div id="book_<%= book.id %>" class="reveal-modal" data-reveal>
					<div id="modal-edit-book-fields">
						<% shelf = book.shelf %>
						<h3>Edit Book</h3>
						<%= form_for([shelf, book], :remote => true) do |f| %>
							<div class="field">
								<%= f.label :name %>
								<%= f.text_field :name %>
							</div>
							<div class="field">
								<%= f.label :link %>
								<%= f.text_field :link %>
							</div>
							<div class="field">
								<%= f.label :note %>
								<%= f.text_field :note %>
							</div>
							<div class="description">
								<%= f.label :read, "Already looked at this page?" %>
								<%= f.radio_button :read, 'Read' %> Read
								<%= f.radio_button :read, 'Revisit' %> Revisit Later </br>
							</div>
							<div class="actions">
								<%= f.submit :submit, class: 'button closeModalSubmit' %>
							</div>
						<% end %>
						<a class="close-reveal-modal">&#215;</a>	
					</div>
				</div>

			</div>
		</div>
		
		<div class="back">
			<% if book.note != "" %>
		    <%= book.note %>
		    <% else %>
		    Looks like you don't have any notes for this book!
		    <% end %>
		 </div> 
	
	</div>

	<div id="bookOptions">
		<a href="#" data-reveal-id="book_<%= book.id %>" class="btn btn-mini"><%= image_tag ("editIcon.png")%></a>  
		<%= link_to image_tag("deleteIcon.png"), shelf_book_path(book.shelf_id, book), data: {confirm: "Are you sure you want to delete this book?"}, :method => :delete, :remote => true, :class => "delete_book" %>
		 <span class="detailsLink"><%= image_tag ("detailsIcon.png")%></span>
</div>

</div>