
<%= form_for([shelf, book], :remote => true) do |f| %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :link %>
		<%= f.text_field :link %>
	</div>
	<div class="field">
		<%= f.label :note %>
		<%= f.text_area :note %>
	</div>
	<div class="description">
			<%= f.label :read, "Already looked at this page?" %>
			<%= f.radio_button :read, 'Unread', :checked => true %> Unread
			<%= f.radio_button :read, 'Revisit' %> Revisit Later </br>
		</div>	

		<p class="bookErrors"></p>
	
	<div class="actions">
		<%= f.submit :submit, value: "Save", class: 'button closeModalSubmit tiny'%>
	</div>
	
<% end %>

<a class="close-reveal-modal">&#215;</a>
