<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BookShelf" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61366302-1', 'auto');
    ga('send', 'pageview');

  </script>
  
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><%= image_tag 'tentativeLogo.png', class: 'Logo' %></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>MENU</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <% if current_user %>
          <li><%= link_to 'My BookShelf', :mybookshelf %></li>
        <% end %>
        
      </ul>
      <ul class="right">
        <% if current_user %>
          <li><%= link_to 'Logout', :logout, method: :post %></li>
        <% else %>
          <li><%= link_to 'Register', new_user_path %></li>
          <li><%= link_to 'Login', :login %></li>
        <% end %>
      </ul>
    </section>
  </nav>
  
<!--   <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div> -->

    <%= yield %>
  <footer>
    <h5>Contact Us</h5>
    <p>WebBookShelf@gmail.com</p>
   <span> © BookShelf 2015</span>
  </footer>
  </body>
</html>


